name: CronJobs CI

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - src/Pilgaard.CronJobs/**
      - tests/Pilgaard.CronJobs.Tests/**
      - tests/ApiApprovalTests.cs
      - .github/workflows/cronjobs_ci.yml
      - Directory.Build.props

  pull_request:
    branches: [master]
    paths:
      - src/Pilgaard.CronJobs/**
      - tests/Pilgaard.CronJobs.Tests/**
      - tests/ApiApprovalTests.cs
      - .github/workflows/cronjobs_ci.yml
      - Directory.Build.props

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet 10.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Restore NuGet packages
        run: |
          dotnet restore ./src/Pilgaard.CronJobs/Pilgaard.CronJobs.csproj &&
          dotnet restore ./tests/Pilgaard.CronJobs.Tests/Pilgaard.CronJobs.Tests.csproj

      - name: Build
        run: |
          dotnet build ./src/Pilgaard.CronJobs/Pilgaard.CronJobs.csproj --no-restore &&
          dotnet build ./tests/Pilgaard.CronJobs.Tests/Pilgaard.CronJobs.Tests.csproj --no-restore

      - name: Run Test
        run: dotnet test ./tests/Pilgaard.CronJobs.Tests/Pilgaard.CronJobs.Tests.csproj --no-build --no-restore
